<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestvaerkstedetToolkit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestvaerkstedetToolkit.Properties.Settings>
            <setting name="TableSplitterOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="XMLFKRepairOutputPath" serializeAs="String">
                <value />
            </setting>
        </TestvaerkstedetToolkit.Properties.Settings>
    </userSettings>
</configuration>